.containerStyle{
    margin-top: 80px;
    margin-left: 40%;
}
.heading{
    margin-top: 100px;
    text-align: center;
}

@media only screen and (max-width: 600px) {

        .containerStyle{
            margin-left: 11%;
        }
  }