.containerStyle{
    margin-top: 50px;
    margin-left: 11%;
}
.heading{
    margin-top: 100px;
    text-align: center;
}

@media only screen and (max-width: 600px) {

        .containerStyle{
            flex-direction: column;
        }
  }